<div cdkDragBoundary=".desktop" cdkDrag class="resume-popup">
  <button class="resExitBtn" (click)="closeResume()"></button>
  <h1>Resume <a href="../../../assets/Lawson-Resume.pdf" download>
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 471.2 471.2" style="enable-background:new 0 0 471.2 471.2;" xml:space="preserve">
        <g><g><path d="M457.7,230.15c-7.5,0-13.5,6-13.5,13.5v122.8c0,33.4-27.2,60.5-60.5,60.5H87.5c-33.4,0-60.5-27.2-60.5-60.5v-124.8 c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v124.8c0,48.3,39.3,87.5,87.5,87.5h296.2c48.3,0,87.5-39.3,87.5-87.5v-122.8 C471.2,236.25,465.2,230.15,457.7,230.15z" />
        <path d="M226.1,346.75c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.8-85.8c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0l-62.7,62.8 V30.75c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v273.9l-62.8-62.8c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1 L226.1,346.75z" /></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg></a></h1>
  <div>
    <div>
      <p class="c4"><span class="c6"></span></p>
    </div>
    <h3>Lawson Taylor</h3>
    <p class="c8 c23"><span class="c9 c17"></span></p>
    <p class="c23"><span class="c16">Phone: &nbsp; +62 813 3992 8551</span><span class="c1">&nbsp; | </span><span class="c16">Email:
        &nbsp;</span><span class="c1">lawson.taylor@protonmail.com</span>
    </p>
    <hr>
    <p class="c23 c8"><span class="c3"></span></p>
    <h3 class='skills'>Skills </h3>
    <!--  -->
    <table class="tg">
      <tr>
        <th class="tg-0pky">Front-End</th>
        <th class="tg-0lax">Back-End</th>
        <th class="tg-0lax">Source Control</th>
        <th class="tg-0lax">Frameworks</th>
        <th class="tg-0lax">Libraries</th>
      </tr>
      <tr>
        <td class="tg-0lax">Javascript ES6</td>
        <td class="tg-0lax">REST / MongoDB</td>
        <td class="tg-0lax">Git (Github)</td>
        <td class="tg-0lax">Angular</td>
        <td class="tg-0lax">RxJS</td>
      </tr>
      <tr>
        <td class="tg-0lax">CSS / SASS</td>
        <td class="tg-0lax">NodeJs / Express</td>
        <td class="tg-0lax">SCRUM / Agile</td>
        <td class="tg-0lax">React</td>
        <td class="tg-0lax">NgRx</td>
      </tr>
      <tr>
        <td class="tg-0lax">HTML5 + Canvas</td>
        <td class="tg-0lax">Firebase / Firestore<br></td>
        <td class="tg-0lax">Zenhub</td>
        <td class="tg-0lax">React Native</td>
        <td class="tg-0lax"></td>
      </tr>
    </table>
    <!--  -->
    <hr>
    <h3 class='skills'>Professional Experience</h3>
    <p class="c12 c8"><span class="c9 c15"></span></p>
    <p class="c0"><span class="c14 c26"><a class="c31" href="https://www.google.com/url?q=https://app.idleaustralia.com.au/hire/equipment&amp;sa=D&amp;ust=1546341381635000">Idle
          Australia</a></span><span class="c9 c14">&nbsp;/ Frontend Developer</span>
    </p>
    <p class="c0"><span class="c28">July 2018 &nbsp;- December 2018 : Perth, Australia</span></p>
    <p class="c0"><span class="c2">&#8627;Hacked the company&rsquo;s webapp to reveal sensitive user data, disclosed my
        findings immediately.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Built components &nbsp;for the SPA using the &nbsp;Angular framework, SASS
        and
        HTML.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Implemented NgRx reactive state store to improve the &nbsp;speed of the site
        by
        reducing calls to the API.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Enhanced UX by implementing front-end sorting and filtering of results for
        faster searches that are API independent.</span>
    </p>
    <p class="c0"><span class="c26 c14"><a class="c31" href="https://www.google.com/url?q=https://unocart.com/&amp;sa=D&amp;ust=1546341381636000">&Uuml;nocart</a></span><span
        class="c14">&nbsp;/ Mobile Developer </span></p>
    <p class="c0"><span class="c28">July 2018 - &nbsp;September 2018 : Perth, Australia</span></p>
    <p class="c0"><span class="c2">&#8627;Implemented analytics in app using Segment to track user onboarding and
        marketing campaign performance.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Built HTML email templates for onboarding, &nbsp;marketing campaigns, etc.</span></p>
    <p class="c0"><span class="c2">&#8627;Improved UI across the app with a overhaul &nbsp;and full redesign of the
        global app styles using CSS in React Native.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Remedied navigation issues to create a consistent and functional UX across
        IOS
        and Android devices.</span>
    </p>
    <p class="c0"><span class="c9 c14">BioHack Academy / Student</span></p>
    <p class="c0"><span class="c28">2017 : Perth, Australia</span></p>
    <p class="c0"><span class="c2">&#8627;Built real time graphing and monitoring software in Python that read serial
        data as input.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Interfaced with with human body using a EMG circuit I build. </span></p>
    <p class="c0"><span class="c2">&#8627;Scripted Arduino sketches to log, and timestamp EMG data.</span></p>
    <p class="c0"><span class="c2">&#8627;Iterated over designs to create a prototype portable EMG for the measure of
        muscle contractile force.</span>
    </p>
    <p class="c0"><span class="c2">&#8627;Looked like the biggest nerd in the gym.</span></p>
    <p class="c0"><span class="c14">Lad and Lass Clothing / Owner + Operator</span></p>
    <p class="c0"><span class="c28">2012 - 2017 </span></p>
    <p class="c0"><span class="c2">&#8627;Designed apparel sold &nbsp;in stores nationally and online.</span></p>
    <p class="c0"><span class="c2">&#8627; Automated fulfillment and supply chain logistics using python scripts.</span>
      <hr>
      <h3 class='skills'>Education</h3>
      <p class="c5"><span class="c10 c11"></span></p>
      <p class="c7"><span class="c14">University of Western Australia</span><span class="c3">&nbsp;/ Bachelor of
          &nbsp;Computer Science &amp; German Studies</span>
      </p>
      <p class="c7"><span class="c28">2017 - present &nbsp;: Perth, Australia | Remote</span></p>
      <p class="c7"><span class="c14">Business Foundations </span><span class="c3">/ Certificate IV in Business
          Operations</span></p>
      <p class="c7"><span class="c28">2012</span></p>
      <p class="c7"><span class="c14">School of Audio Engineering </span><span class="c3">/ Certificate III in Music
          Production</span>
      </p>
      <p class="c7"><span class="c28">2012</span></p>
      <p class="c7 c8"><span class="c9 c25"></span></p>
      <p class="c7 c8"><span class="c3"></span></p>
      <p class="c5"><span class="c9 c27"></span></p>
      <div>
        <p class="c4"><span class="c6"></span></p>
      </div>
  </div>
</div>