@import '../../shared/styles/mixins';

.snake-game {
  width: 480px;
  height: 370px;
  background-color: blanchedalmond;
  border-radius: 8px 8px 0px 0px;
  position: absolute;
  top: 200px;
  left: 20%;
  z-index: 200;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

  @include xs {
    top: 100px;
    left: -60px;
  }
}

#xanvas {
  // margin-top: 50px;
}

.control-text {
  margin: 0px;
  margin-top: 0px;
  margin-top: 6px;
  font: 14px 'IBM Plex Mono', monospace;
  top: 100px;
  width: 300px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: calc(50% - 150px);
}

.desktop-warning {
  margin: 0px;
  margin-top: 0px;
  margin-top: 6px;
  font: 14px 'IBM Plex Mono', monospace;
  top: 240px;
  width: 260px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: calc(50% - 130px);
  display: none;

  @include xs {
    display: inline;
  }
}

.menu {
  position: absolute;
  right: calc((100% / 2) - 30px);
  color: var(--main-txt-color);
  margin-top: 12px;
  font-style: oblique;
  font-family: ubuntu;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  top: 50px;
  position: absolute;
}

#start-game {
  padding: 10px 20px;
  background-color: green;
  position: absolute;
  top: 160px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  left: calc(50% - 50px);
  font-family: ubuntu;
}

// button
.inGame {
  display: none;
}

.inline {
  display: inline;
}


// HEADER
.headerBar {
    position: relative;
    height: 50px;
    background-color: var(--main-bg-color);
    border-radius: 6px 6px 0 0;
    display: inline-flex;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .menuBar {
    position: relative;
    top: 26px;
    color: var(--main-txt-color);
    display: flex;
  }
  
  .userText {
   position: absolute;
   right: calc((100% / 2) - 60px);
   color: var(--main-txt-color);
   padding-top: 7px;
   font-style: oblique;
  }
  
  .btnBar {
    display: flex;
    position: absolute;
    right: 0px;
    justify-content: space-between;
    width: 80px;
    padding-right: 8px;
    padding-top: 8px;
  }

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    appearance: none;
    font-smoothing: antialiased;
  }

  button,
  input[type='checkbox'] {
    outline: none;
  }

  .termExitBtn {
    border-radius: 50%;
    height: 14px;
    width: 14px;
  
    background-color: var(--exit-color);
  }
  
  .termMinBtn {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background-color: var(--min-color);
  
  }
  
  .termMaxBtn {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background-color: var(--max-color);
  
  }