<div class=appLauncherContainer>
  <div class="appLauncher">
  <button  (click)="launchTerminal()" class="appIconBtn"><img class="appIcon" src='../../../assets/icons/if_terminal.png'/></button>
  <button class="appIconBtn"><img class="appIcon" src='../../../assets/icons/if_bubbles-alt.png'/></button>
  <button class="appIconBtn"><img class="appIcon" src='../../../assets/icons/if_enveloppe-letter.png'/></button>
  <button (click)="launchResume()" class="appIconBtn"><img class="appIcon" src='../../../assets/icons/if_file-powerpoint.png'/></button>
  </div>
</div>