<div cdkDragBoundary=".desktop" cdkDrag class="contact-form">
<app-terminal-header cdkDragHandle [closeFunction]="close" titleText="Email Client - Contact"></app-terminal-header>
  <form [formGroup]="formdata">
      <input type = "text" class = "fortextbox" name="to" placeholder='To: Lawson Taylor <lawson.taylor@protonmail.com>' readonly>
      <input type = "text" [value]="from" (input)='setFrom($event)' class="fortextbox" name="from" placeholder="From: ">
     <input type = "text" [value]="subject" (input)='setSubject($event)' class="fortextbox" name="subject" placeholder="Subject:">
     <br/>
     <textarea [value]="body" (input)="setBody($event)" rows=20 class="contact-textarea" name = "passwd" placeholder = "Write your message here...."></textarea>
     <p class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</p>
     <p class="successMessage" *ngIf="successMessage">{{successMessage}}</p>
      <button (click)="sendMail()" class='send-mail-button'><div class='mail-button-content'><span class='send-mail-text'>SEND MAIL</span><img class='send-mail-image' src='../../../assets/icons/mail-send.png'/></div></button>
  </form>
</div>